# http://www.gnu.org/software/automake
Makefile.in
Makefile

# http://www.gnu.org/software/autoconf
/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
.dirstamp

# Logs
config.log
config.status

# Dependency files
.deps

# Object files and libraries
*.o
*.a

